<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="start17.Memento.model.dao.TestMapper">

    <select id="getAllDataList" resultType="start17.Memento.model.dto.books">
        SELECT * FROM books;
    </select>

</mapper>