<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="start17.Memento.model.dao.UserMapper">

    <!-- 회원가입 -->
    <insert id="createUser">
        INSERT INTO users(userid, password, nickname, role) VALUES(#{userid}, #{password}, #{nickname}, #{role});
    </insert>

    <!-- 로그인 -->
    <select id="getUserById" resultType="start17.Memento.entity.UserEntity">
        SELECT * FROM users WHERE userid=#{userid};
    </select>

</mapper>